{% extends "templates/template.html" %}

{% block title %} Difficult Conversations scorer {% endblock  %}

{% block main %}

<div class="container">
    <div class="row m-5">
        <div class="col">
            <h1>Send POST request</h1>
            <p>Once POST request sent by audio software and a response is received, click on the button below to receive a full conversation analysis.</p>

            <form action="/report">
                <button class="btn btn-primary" type="submit">See analysis</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}