{% extends "templates/template.html" %}

{% block title %} Difficult Conversations scorer {% endblock  %}

{% block main %}

<div class="container">
    <div class="row m-5">
        <div class="col">

            <h2>Classification: </h2>
            <p><em> {{ classification }} </em></p>

            <h2> Turn taking chart </h2>
            
            {{ model_plot }}

            <p>This chart is comparing the length that the patient and doctor spoke for during each of their turn in their conversation.</p>

            <h2> Word Cloud </h2>

            {{ model_cloud }}

            <p>This diagram shows the most commonly used words in the conversation</p>

            <h2>Checking for Phrases</h2>

            <p>Analysis here looks for specific phrases used in the conversation by the doctor.</p>
            <p>You used the following phrases during your introduction which is good.</p>

            {% for word in specific_words %}

            <ul>
                <li>
                    {{ word }}
                </li>
            </ul>

            {% endfor %}

            <h3>Number of pauses by doctor: </h3>
            <p> {{ pauses_num }} </p>
            
            <hr>
            <p>Click on the button below to download a PDF version of this report</p>
            <form action="/pdf">
                <button class="btn btn-primary" type="submit">Download PDF</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}